.tomato {
    background: rgb(255, 255, 255);
}

.rebeca {
    background: ghostwhite;
}

.icon {
    font-size: 80px;
}

.icon:hover {
    transform: scale(1.5);
    transition-duration: .5s;
}

.footer {
    background: ghostwhite;
}